In [7]:
print(__doc__)

import numpy as np
import scipy as sp
import pandas as pd

from sklearn.preprocessing import Imputer
genres_data = pd.read_csv("C:/Users/Vi/Desktop/CMPE 188/genres.csv")
movies_data = pd.read_csv("C:/Users/Vi/Desktop/CMPE 188/movies.csv")
ratings_data = pd.read_csv("C:/Users/Vi/Desktop/CMPE 188/ratings.csv")

movies_data

Automatically created module for IPython interactive environment

,movie,movieId,Comedy,Action,Sci-Fi & Fantasy,Independent,Romantic,Animation,Drama
0,Rogue One / Star Wars,1,0,1,1,0,NaN,0,0
1,Fight Club,2,0,1,0,1,0.0,0,0
2,Lord of the Rings,3,0,1,0,0,0.0,0,0
3,Trolls,4,1,0,0,0,0.0,1,0
4,Despicable Me,5,1,0,0,0,0.0,1,0
5,Kubo,6,0,1,0,0,0.0,1,0
6,Hangover,7,1,0,0,0,0.0,0,0
7,Captain America,8,0,1,1,0,0.0,0,0
8,The big Lebowski,9,1,0,0,1,0.0,0,0
9,Almost Famous,10,1,0,0,0,1.0,0,0
10,Hunger games,11,0,1,0,0,0.0,0,1
11,Pulp Fiction,12,0,1,0,1,0.0,0,0
12,Sing,13,1,0,0,0,0.0,1,0
13,500 days of Summer,14,0,0,0,1,1.0,0,0
14,Twilight,15,0,0,1,0,0.0,0,0
15,Lala Land,16,0,0,0,0,1.0,0,0
16,Moonlight,17,0,0,0,0,0.0,0,1
17,Hidden Figures,18,0,0,0,0,0.0,0,1
18,Ghostbusters,19,0,1,1,0,0.0,0,0
19,Godfather,20,0,0,0,0,0.0,0,1
20,Pretty woman,21,1,0,0,0,1.0,0,0
21,The Martian,22,0,0,1,0,0.0,0,1
22,The Intern,23,1,0,0,1,0.0,0,0
23,Zootopia,24,0,1,0,0,0.0,1,1
24,X-Men,25,0,1,1,0,0.0,1,0
25,Star Wars,26,0,1,1,0,0.0,1,1
26,Mission: Impossible - Rogue Nation,27,0,1,1,0,0.0,1,0
27,Spy,28,1,0,0,1,0.0,0,0
28,Guardians of the Galaxy,29,0,1,0,0,0.0,1,0
29,The Minions,30,1,0,0,0,0.0,1,0
30,Gone Girl,31,0,1,0,0,0.0,0,1

In [8]:
ratings_data

     userId  movieId  rating
0       149        2       5
1       149        3       3
2       149        5       4
3       149        7       4
4       149        9       5
5       149       10       4
6       149       11       4
7       149       12       5
8       149       13       3
9       149       14       3
10      149       16       5
11      149       18       4
12      149       20       4
13      149       21       4
14      252        1       4
15      252        2       5
16      252        3       5
17      252        4       2
18      252        5       1
19      252        6       1
20      252        7       2
21      252        8       4
22      252        9       5
23      252       11       3
24      252       12       5
25      252       14       4
26      252       15       1
27      252       19       5
28      252       20       5
29      252       21       4
..      ...      ...     ...
392     907       13       5
393     907       16       3
394     907       20       5
395     907       21       5
396     489        1       5
397     489        2       5
398     489        3       5
399     489        5       4
400     489        7       3
401     489        8       4
402     489        9       5
403     489       10       1
404     489       11       4
405     489       12       5
406     489       14       3
407     489       15       1
408     489       19       3
409     480        1       5
410     480        2       5
411     480        3       5
412     480        5       4
413     480        7       3
414     480        8       4
415     480        9       5
416     480       10       1
417     480       11       4
418     480       12       5
419     480       14       3
420     480       15       1
421     480       19       3

[422 rows x 3 columns]

In [9]:
genres_data

             genres  genreId
0            Comedy        1
1            Action        2
2  Sci-Fi.&.Fantasy        3
3       Independent        4
4          Romantic        5
5         Animation        6
6             Drama        7

In [11]:
(trainingData,validationData,testData) = ratings_data.randomSplit([0.6,0.2,0.2])

AttributeError: 'DataFrame' object has no attribute 'randomSplit'