In [37]:
print(__doc__)
import csv
import urllib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import preprocessing

url= "https://raw.githubusercontent.com/avirynd/Bikeshare/master/Data/weather_data.csv?token=AVmUmWO2umLsbEpWqJUZhI_nJ5b3Dj-Tks5ZEkCbwA%3D%3D"
weather_data=pd.read_csv(url)

Automatically created module for IPython interactive environment

In [38]:
weather_data.describe()
#intial data information

       MeanTemperatureF  MeanHumidity   CloudCover       zip
count       1099.000000    1099.000000  1099.000000   1099.0
mean          62.074613      64.102821     3.139217  95113.0
std            7.824340      10.355845     2.116313      0.0
min           38.000000      25.000000     0.000000  95113.0
25%           56.000000      59.000000     1.000000  95113.0
50%           62.000000      65.000000     3.000000  95113.0
75%           69.000000      70.000000     5.000000  95113.0
max           82.000000      93.000000     8.000000  95113.0

In [39]:
weather_data['MeanTemperatureF'].describe()

count    1099.000000
mean       62.074613
std         7.824340
min        38.000000
25%        56.000000
50%        62.000000
75%        69.000000
max        82.000000
Name: MeanTemperatureF, dtype: float64

In [40]:
weather_data['MeanHumidity '].describe()

count    1099.000000
mean       64.102821
std        10.355845
min        25.000000
25%        59.000000
50%        65.000000
75%        70.000000
max        93.000000
Name: MeanHumidity , dtype: float64

In [44]:
#temp
weather_data['Templevel']=" "#adapted from Daniel's code

In [45]:

#encode ranges into 0-10
#0=range[30,34]
weather_data.loc[ (weather_data['MeanTemperatureF'] >= 30) & (weather_data['MeanTemperatureF'] < 35), 'Templevel']= '0'
#1=range[35,39]
weather_data.loc[ (weather_data['MeanTemperatureF'] >= 35) & (weather_data['MeanTemperatureF'] < 40), 'Templevel']= '1'
#2=range[40,44]
weather_data.loc[ (weather_data['MeanTemperatureF'] >= 40) & (weather_data['MeanTemperatureF'] < 45), 'Templevel']= '2'
#3=range[45,49]
weather_data.loc[ (weather_data['MeanTemperatureF'] >= 45) & (weather_data['MeanTemperatureF'] < 50), 'Templevel']= '3'
#4=range[50,54]
weather_data.loc[ (weather_data['MeanTemperatureF'] >= 50) & (weather_data['MeanTemperatureF'] < 55), 'Templevel']= '4'
#5=range[55,59]
weather_data.loc[ (weather_data['MeanTemperatureF'] >= 55) & (weather_data['MeanTemperatureF'] < 60), 'Templevel']= '5'
#6=range[60,64]
weather_data.loc[ (weather_data['MeanTemperatureF'] >= 60) & (weather_data['MeanTemperatureF'] < 65), 'Templevel']= '6'
#7=range[65,69]
weather_data.loc[ (weather_data['MeanTemperatureF'] >= 65) & (weather_data['MeanTemperatureF'] < 70), 'Templevel']= '7'
#8=range[70,74]
weather_data.loc[ (weather_data['MeanTemperatureF'] >= 70) & (weather_data['MeanTemperatureF'] < 75), 'Templevel']= '8'
#9=range[75,79]
weather_data.loc[ (weather_data['MeanTemperatureF'] >= 75) & (weather_data['MeanTemperatureF'] < 80), 'Templevel']= '9'
#10=range[80,84]
weather_data.loc[ (weather_data['MeanTemperatureF'] >= 80) & (weather_data['MeanTemperatureF'] < 94), 'Templevel']= '10'

In [46]:
weather_data

,Date,MeanTemperatureF,MeanHumidity,PrecipitationIn,CloudCover,Events,zip,Templevel
0,8/29/2013,72,69,0,4,NaN,95113,8
1,8/30/2013,76,65,0,2,NaN,95113,9
2,8/31/2013,71,66,0,0,NaN,95113,8
3,9/1/2013,72,62,0,2,NaN,95113,8
4,9/2/2013,73,68,T,5,Rain,95113,8
5,9/3/2013,70,58,0,1,NaN,95113,8
6,9/4/2013,69,62,0,1,NaN,95113,7
7,9/5/2013,68,60,0,1,NaN,95113,7
8,9/6/2013,72,54,0,0,NaN,95113,8
9,9/7/2013,78,45,0,0,NaN,95113,9
10,9/8/2013,74,59,0,0,NaN,95113,8
11,9/9/2013,75,60,0,1,NaN,95113,9
12,9/10/2013,70,65,0,2,NaN,95113,8
13,9/11/2013,68,65,0,4,NaN,95113,7
14,9/12/2013,69,71,0,5,NaN,95113,7
15,9/13/2013,67,72,0,4,NaN,95113,7
16,9/14/2013,66,72,0,4,NaN,95113,7
17,9/15/2013,68,68,0,3,NaN,95113,7
18,9/16/2013,71,68,0,4,NaN,95113,8
19,9/17/2013,66,58,T,1,NaN,95113,7
20,9/18/2013,69,54,0,0,NaN,95113,7
21,9/19/2013,71,48,0,0,NaN,95113,8
22,9/20/2013,66,65,0,2,NaN,95113,7
23,9/21/2013,64,79,0.66,6,Rain,95113,6
24,9/22/2013,63,69,0,2,NaN,95113,6
25,9/23/2013,67,63,0,0,NaN,95113,7
26,9/24/2013,67,66,0,1,NaN,95113,7
27,9/25/2013,63,57,0,1,NaN,95113,6
28,9/26/2013,63,50,0,0,NaN,95113,6
29,9/27/2013,64,50,0,0,NaN,95113,6
...,...,...,...,...,...,...,...,...
1069,8/2/2016,69,61,0,0,NaN,95113,7
1070,8/3/2016,70,65,0,0,NaN,95113,8
1071,8/4/2016,66,70,0,4,NaN,95113,7
1072,8/5/2016,68,63,0,4,NaN,95113,7
1073,8/6/2016,67,67,0,4,NaN,95113,7
1074,8/7/2016,67,64,0,2,NaN,95113,7
1075,8/8/2016,69,60,0,1,NaN,95113,7
1076,8/9/2016,71,59,0,2,NaN,95113,8
1077,8/10/2016,70,60,T,1,NaN,95113,8
1078,8/11/2016,69,63,0,1,NaN,95113,7
1079,8/12/2016,70,65,0,2,NaN,95113,8
1080,8/13/2016,74,58,0,2,NaN,95113,8
1081,8/14/2016,73,64,0,4,NaN,95113,8
1082,8/15/2016,70,67,0,4,NaN,95113,8
1083,8/16/2016,71,62,0,4,NaN,95113,8
1084,8/17/2016,71,63,0,2,NaN,95113,8
1085,8/18/2016,71,64,0,2,NaN,95113,8
1086,8/19/2016,68,67,0,1,NaN,95113,7
1087,8/20/2016,69,69,0,2,NaN,95113,7
1088,8/21/2016,69,66,0,5,NaN,95113,7
1089,8/22/2016,69,65,0,3,NaN,95113,7
1090,8/23/2016,71,63,0,4,NaN,95113,8
1091,8/24/2016,69,66,0,3,NaN,95113,7
1092,8/25/2016,68,67,0,4,NaN,95113,7
1093,8/26/2016,71,65,0,4,NaN,95113,8
1094,8/27/2016,70,59,0,4,NaN,95113,8
1095,8/28/2016,70,65,0,4,NaN,95113,8
1096,8/29/2016,68,64,0,6,NaN,95113,7
1097,8/30/2016,70,60,0,2,NaN,95113,8
1098,8/31/2016,69,64,0,1,NaN,95113,7

In [52]:
#humid
weather_data['HumidLevel']=" "

In [53]:
#0=range[0,25]
weather_data.loc[ (weather_data['MeanHumidity '] >= 0) & (weather_data['MeanHumidity '] < 25), 'HumidLevel']= '0'
#1=range[25,31]
weather_data.loc[ (weather_data['MeanHumidity '] >= 25) & (weather_data['MeanHumidity '] < 32), 'HumidLevel']= '1'
#2=range[32,38]
weather_data.loc[ (weather_data['MeanHumidity '] >= 32) & (weather_data['MeanHumidity '] < 39), 'HumidLevel']= '2'
#3=range[39,45]
weather_data.loc[ (weather_data['MeanHumidity '] >= 39) & (weather_data['MeanHumidity '] < 46), 'HumidLevel']= '3'
#4=range[46,52]
weather_data.loc[ (weather_data['MeanHumidity '] >= 46) & (weather_data['MeanHumidity '] < 53), 'HumidLevel']= '4'
#5=range[53,59]
weather_data.loc[ (weather_data['MeanHumidity '] >= 53) & (weather_data['MeanHumidity '] < 60), 'HumidLevel']= '5'
#6=range[60,66]
weather_data.loc[ (weather_data['MeanHumidity '] >= 60) & (weather_data['MeanHumidity '] < 67), 'HumidLevel']= '6'
#7=range[67,73]
weather_data.loc[ (weather_data['MeanHumidity '] >= 67) & (weather_data['MeanHumidity '] < 74), 'HumidLevel']= '7'
#8=range[74,80]
weather_data.loc[ (weather_data['MeanHumidity '] >= 74) & (weather_data['MeanHumidity '] < 81), 'HumidLevel']= '8'
#9=range[81,86]
weather_data.loc[ (weather_data['MeanHumidity '] >= 81) & (weather_data['MeanHumidity '] < 87), 'HumidLevel']= '9'
#10=range[87,94]
weather_data.loc[ (weather_data['MeanHumidity '] >= 87) & (weather_data['MeanHumidity '] < 94), 'HumidLevel']= '10'

#le = preprocessing.LabelEncoder()
#le.fit()
#LabelEncoder()
#le.classes_
#le.transform([])

In [54]:
weather_data

,Date,MeanTemperatureF,MeanHumidity,PrecipitationIn,CloudCover,Events,zip,Templevel,HumidLevel
0,8/29/2013,72,69,0,4,NaN,95113,8,7
1,8/30/2013,76,65,0,2,NaN,95113,9,6
2,8/31/2013,71,66,0,0,NaN,95113,8,6
3,9/1/2013,72,62,0,2,NaN,95113,8,6
4,9/2/2013,73,68,T,5,Rain,95113,8,7
5,9/3/2013,70,58,0,1,NaN,95113,8,5
6,9/4/2013,69,62,0,1,NaN,95113,7,6
7,9/5/2013,68,60,0,1,NaN,95113,7,6
8,9/6/2013,72,54,0,0,NaN,95113,8,5
9,9/7/2013,78,45,0,0,NaN,95113,9,3
10,9/8/2013,74,59,0,0,NaN,95113,8,5
11,9/9/2013,75,60,0,1,NaN,95113,9,6
12,9/10/2013,70,65,0,2,NaN,95113,8,6
13,9/11/2013,68,65,0,4,NaN,95113,7,6
14,9/12/2013,69,71,0,5,NaN,95113,7,7
15,9/13/2013,67,72,0,4,NaN,95113,7,7
16,9/14/2013,66,72,0,4,NaN,95113,7,7
17,9/15/2013,68,68,0,3,NaN,95113,7,7
18,9/16/2013,71,68,0,4,NaN,95113,8,7
19,9/17/2013,66,58,T,1,NaN,95113,7,5
20,9/18/2013,69,54,0,0,NaN,95113,7,5
21,9/19/2013,71,48,0,0,NaN,95113,8,4
22,9/20/2013,66,65,0,2,NaN,95113,7,6
23,9/21/2013,64,79,0.66,6,Rain,95113,6,8
24,9/22/2013,63,69,0,2,NaN,95113,6,7
25,9/23/2013,67,63,0,0,NaN,95113,7,6
26,9/24/2013,67,66,0,1,NaN,95113,7,6
27,9/25/2013,63,57,0,1,NaN,95113,6,5
28,9/26/2013,63,50,0,0,NaN,95113,6,4
29,9/27/2013,64,50,0,0,NaN,95113,6,4
...,...,...,...,...,...,...,...,...,...
1069,8/2/2016,69,61,0,0,NaN,95113,7,6
1070,8/3/2016,70,65,0,0,NaN,95113,8,6
1071,8/4/2016,66,70,0,4,NaN,95113,7,7
1072,8/5/2016,68,63,0,4,NaN,95113,7,6
1073,8/6/2016,67,67,0,4,NaN,95113,7,7
1074,8/7/2016,67,64,0,2,NaN,95113,7,6
1075,8/8/2016,69,60,0,1,NaN,95113,7,6
1076,8/9/2016,71,59,0,2,NaN,95113,8,5
1077,8/10/2016,70,60,T,1,NaN,95113,8,6
1078,8/11/2016,69,63,0,1,NaN,95113,7,6
1079,8/12/2016,70,65,0,2,NaN,95113,8,6
1080,8/13/2016,74,58,0,2,NaN,95113,8,5
1081,8/14/2016,73,64,0,4,NaN,95113,8,6
1082,8/15/2016,70,67,0,4,NaN,95113,8,7
1083,8/16/2016,71,62,0,4,NaN,95113,8,6
1084,8/17/2016,71,63,0,2,NaN,95113,8,6
1085,8/18/2016,71,64,0,2,NaN,95113,8,6
1086,8/19/2016,68,67,0,1,NaN,95113,7,7
1087,8/20/2016,69,69,0,2,NaN,95113,7,7
1088,8/21/2016,69,66,0,5,NaN,95113,7,6
1089,8/22/2016,69,65,0,3,NaN,95113,7,6
1090,8/23/2016,71,63,0,4,NaN,95113,8,6
1091,8/24/2016,69,66,0,3,NaN,95113,7,6
1092,8/25/2016,68,67,0,4,NaN,95113,7,7
1093,8/26/2016,71,65,0,4,NaN,95113,8,6
1094,8/27/2016,70,59,0,4,NaN,95113,8,5
1095,8/28/2016,70,65,0,4,NaN,95113,8,6
1096,8/29/2016,68,64,0,6,NaN,95113,7,6
1097,8/30/2016,70,60,0,2,NaN,95113,8,6
1098,8/31/2016,69,64,0,1,NaN,95113,7,6

In [58]:
#tmp_hum=weather_data
#tmp_hum.columns=['Date','Templevel','HumidLevel']
weather_data.to_csv('tmp_and_hum.csv')