In [1]:
print(__doc__)

import numpy as np
import scipy as sp
import pandas as pd

from sklearn.preprocessing import Imputer

# Loads the data from the two csv need for pre-processing (weather_data, trip_data)

weather_data = pd.read_csv("C:/Users/Vi/Desktop/CMPE 188/Bikeshare-master/Data/weather_data.csv")
trip_data = pd.read_csv("C:/Users/Vi/Desktop/CMPE 188/Bikeshare-master/Data/trip_data.csv")

weather_data

Automatically created module for IPython interactive environment

,Date,MeanTemperatureF,MeanHumidity,PrecipitationIn,CloudCover,Events,zip
0,8/29/2013,72,69,0,4,NaN,95113
1,8/30/2013,76,65,0,2,NaN,95113
2,8/31/2013,71,66,0,0,NaN,95113
3,9/1/2013,72,62,0,2,NaN,95113
4,9/2/2013,73,68,T,5,Rain,95113
5,9/3/2013,70,58,0,1,NaN,95113
6,9/4/2013,69,62,0,1,NaN,95113
7,9/5/2013,68,60,0,1,NaN,95113
8,9/6/2013,72,54,0,0,NaN,95113
9,9/7/2013,78,45,0,0,NaN,95113
10,9/8/2013,74,59,0,0,NaN,95113
11,9/9/2013,75,60,0,1,NaN,95113
12,9/10/2013,70,65,0,2,NaN,95113
13,9/11/2013,68,65,0,4,NaN,95113
14,9/12/2013,69,71,0,5,NaN,95113
15,9/13/2013,67,72,0,4,NaN,95113
16,9/14/2013,66,72,0,4,NaN,95113
17,9/15/2013,68,68,0,3,NaN,95113
18,9/16/2013,71,68,0,4,NaN,95113
19,9/17/2013,66,58,T,1,NaN,95113
20,9/18/2013,69,54,0,0,NaN,95113
21,9/19/2013,71,48,0,0,NaN,95113
22,9/20/2013,66,65,0,2,NaN,95113
23,9/21/2013,64,79,0.66,6,Rain,95113
24,9/22/2013,63,69,0,2,NaN,95113
25,9/23/2013,67,63,0,0,NaN,95113
26,9/24/2013,67,66,0,1,NaN,95113
27,9/25/2013,63,57,0,1,NaN,95113
28,9/26/2013,63,50,0,0,NaN,95113
29,9/27/2013,64,50,0,0,NaN,95113
...,...,...,...,...,...,...,...
1069,8/2/2016,69,61,0,0,NaN,95113
1070,8/3/2016,70,65,0,0,NaN,95113
1071,8/4/2016,66,70,0,4,NaN,95113
1072,8/5/2016,68,63,0,4,NaN,95113
1073,8/6/2016,67,67,0,4,NaN,95113
1074,8/7/2016,67,64,0,2,NaN,95113
1075,8/8/2016,69,60,0,1,NaN,95113
1076,8/9/2016,71,59,0,2,NaN,95113
1077,8/10/2016,70,60,T,1,NaN,95113
1078,8/11/2016,69,63,0,1,NaN,95113
1079,8/12/2016,70,65,0,2,NaN,95113
1080,8/13/2016,74,58,0,2,NaN,95113
1081,8/14/2016,73,64,0,4,NaN,95113
1082,8/15/2016,70,67,0,4,NaN,95113
1083,8/16/2016,71,62,0,4,NaN,95113
1084,8/17/2016,71,63,0,2,NaN,95113
1085,8/18/2016,71,64,0,2,NaN,95113
1086,8/19/2016,68,67,0,1,NaN,95113
1087,8/20/2016,69,69,0,2,NaN,95113
1088,8/21/2016,69,66,0,5,NaN,95113
1089,8/22/2016,69,65,0,3,NaN,95113
1090,8/23/2016,71,63,0,4,NaN,95113
1091,8/24/2016,69,66,0,3,NaN,95113
1092,8/25/2016,68,67,0,4,NaN,95113
1093,8/26/2016,71,65,0,4,NaN,95113
1094,8/27/2016,70,59,0,4,NaN,95113
1095,8/28/2016,70,65,0,4,NaN,95113
1096,8/29/2016,68,64,0,6,NaN,95113
1097,8/30/2016,70,60,0,2,NaN,95113
1098,8/31/2016,69,64,0,1,NaN,95113

In [2]:
# create a new column call Cloud Description. Categorized the data in cloudy cover into 5 groups. 

cloud_status = {0: "Clear", 1: "Clear", 2: "Little Cloudy", 3: "Cloudy", 4: "Cloudy", 5: "Very Cloudy", 6: "Very Cloudy", 7: "Overcast", 8: "Overcast"}

weather_data['CloudDesc'] = ""

weather_data

,Date,MeanTemperatureF,MeanHumidity,PrecipitationIn,CloudCover,Events,zip,CloudDesc
0,8/29/2013,72,69,0,4,NaN,95113,
1,8/30/2013,76,65,0,2,NaN,95113,
2,8/31/2013,71,66,0,0,NaN,95113,
3,9/1/2013,72,62,0,2,NaN,95113,
4,9/2/2013,73,68,T,5,Rain,95113,
5,9/3/2013,70,58,0,1,NaN,95113,
6,9/4/2013,69,62,0,1,NaN,95113,
7,9/5/2013,68,60,0,1,NaN,95113,
8,9/6/2013,72,54,0,0,NaN,95113,
9,9/7/2013,78,45,0,0,NaN,95113,
10,9/8/2013,74,59,0,0,NaN,95113,
11,9/9/2013,75,60,0,1,NaN,95113,
12,9/10/2013,70,65,0,2,NaN,95113,
13,9/11/2013,68,65,0,4,NaN,95113,
14,9/12/2013,69,71,0,5,NaN,95113,
15,9/13/2013,67,72,0,4,NaN,95113,
16,9/14/2013,66,72,0,4,NaN,95113,
17,9/15/2013,68,68,0,3,NaN,95113,
18,9/16/2013,71,68,0,4,NaN,95113,
19,9/17/2013,66,58,T,1,NaN,95113,
20,9/18/2013,69,54,0,0,NaN,95113,
21,9/19/2013,71,48,0,0,NaN,95113,
22,9/20/2013,66,65,0,2,NaN,95113,
23,9/21/2013,64,79,0.66,6,Rain,95113,
24,9/22/2013,63,69,0,2,NaN,95113,
25,9/23/2013,67,63,0,0,NaN,95113,
26,9/24/2013,67,66,0,1,NaN,95113,
27,9/25/2013,63,57,0,1,NaN,95113,
28,9/26/2013,63,50,0,0,NaN,95113,
29,9/27/2013,64,50,0,0,NaN,95113,
...,...,...,...,...,...,...,...,...
1069,8/2/2016,69,61,0,0,NaN,95113,
1070,8/3/2016,70,65,0,0,NaN,95113,
1071,8/4/2016,66,70,0,4,NaN,95113,
1072,8/5/2016,68,63,0,4,NaN,95113,
1073,8/6/2016,67,67,0,4,NaN,95113,
1074,8/7/2016,67,64,0,2,NaN,95113,
1075,8/8/2016,69,60,0,1,NaN,95113,
1076,8/9/2016,71,59,0,2,NaN,95113,
1077,8/10/2016,70,60,T,1,NaN,95113,
1078,8/11/2016,69,63,0,1,NaN,95113,
1079,8/12/2016,70,65,0,2,NaN,95113,
1080,8/13/2016,74,58,0,2,NaN,95113,
1081,8/14/2016,73,64,0,4,NaN,95113,
1082,8/15/2016,70,67,0,4,NaN,95113,
1083,8/16/2016,71,62,0,4,NaN,95113,
1084,8/17/2016,71,63,0,2,NaN,95113,
1085,8/18/2016,71,64,0,2,NaN,95113,
1086,8/19/2016,68,67,0,1,NaN,95113,
1087,8/20/2016,69,69,0,2,NaN,95113,
1088,8/21/2016,69,66,0,5,NaN,95113,
1089,8/22/2016,69,65,0,3,NaN,95113,
1090,8/23/2016,71,63,0,4,NaN,95113,
1091,8/24/2016,69,66,0,3,NaN,95113,
1092,8/25/2016,68,67,0,4,NaN,95113,
1093,8/26/2016,71,65,0,4,NaN,95113,
1094,8/27/2016,70,59,0,4,NaN,95113,
1095,8/28/2016,70,65,0,4,NaN,95113,
1096,8/29/2016,68,64,0,6,NaN,95113,
1097,8/30/2016,70,60,0,2,NaN,95113,
1098,8/31/2016,69,64,0,1,NaN,95113,

In [5]:
# Apply the group categorization into the newly added column
weather_data['CloudDesc'] = weather_data['CloudCover '].map(cloud_status)

In [4]:
# Verify that the data is correct
weather_data

,Date,MeanTemperatureF,MeanHumidity,PrecipitationIn,CloudCover,Events,zip,CloudDesc
0,8/29/2013,72,69,0,4,NaN,95113,Cloudy
1,8/30/2013,76,65,0,2,NaN,95113,Little Cloudy
2,8/31/2013,71,66,0,0,NaN,95113,Clear
3,9/1/2013,72,62,0,2,NaN,95113,Little Cloudy
4,9/2/2013,73,68,T,5,Rain,95113,Very Cloudy
5,9/3/2013,70,58,0,1,NaN,95113,Clear
6,9/4/2013,69,62,0,1,NaN,95113,Clear
7,9/5/2013,68,60,0,1,NaN,95113,Clear
8,9/6/2013,72,54,0,0,NaN,95113,Clear
9,9/7/2013,78,45,0,0,NaN,95113,Clear
10,9/8/2013,74,59,0,0,NaN,95113,Clear
11,9/9/2013,75,60,0,1,NaN,95113,Clear
12,9/10/2013,70,65,0,2,NaN,95113,Little Cloudy
13,9/11/2013,68,65,0,4,NaN,95113,Cloudy
14,9/12/2013,69,71,0,5,NaN,95113,Very Cloudy
15,9/13/2013,67,72,0,4,NaN,95113,Cloudy
16,9/14/2013,66,72,0,4,NaN,95113,Cloudy
17,9/15/2013,68,68,0,3,NaN,95113,Cloudy
18,9/16/2013,71,68,0,4,NaN,95113,Cloudy
19,9/17/2013,66,58,T,1,NaN,95113,Clear
20,9/18/2013,69,54,0,0,NaN,95113,Clear
21,9/19/2013,71,48,0,0,NaN,95113,Clear
22,9/20/2013,66,65,0,2,NaN,95113,Little Cloudy
23,9/21/2013,64,79,0.66,6,Rain,95113,Very Cloudy
24,9/22/2013,63,69,0,2,NaN,95113,Little Cloudy
25,9/23/2013,67,63,0,0,NaN,95113,Clear
26,9/24/2013,67,66,0,1,NaN,95113,Clear
27,9/25/2013,63,57,0,1,NaN,95113,Clear
28,9/26/2013,63,50,0,0,NaN,95113,Clear
29,9/27/2013,64,50,0,0,NaN,95113,Clear
...,...,...,...,...,...,...,...,...
1069,8/2/2016,69,61,0,0,NaN,95113,Clear
1070,8/3/2016,70,65,0,0,NaN,95113,Clear
1071,8/4/2016,66,70,0,4,NaN,95113,Cloudy
1072,8/5/2016,68,63,0,4,NaN,95113,Cloudy
1073,8/6/2016,67,67,0,4,NaN,95113,Cloudy
1074,8/7/2016,67,64,0,2,NaN,95113,Little Cloudy
1075,8/8/2016,69,60,0,1,NaN,95113,Clear
1076,8/9/2016,71,59,0,2,NaN,95113,Little Cloudy
1077,8/10/2016,70,60,T,1,NaN,95113,Clear
1078,8/11/2016,69,63,0,1,NaN,95113,Clear
1079,8/12/2016,70,65,0,2,NaN,95113,Little Cloudy
1080,8/13/2016,74,58,0,2,NaN,95113,Little Cloudy
1081,8/14/2016,73,64,0,4,NaN,95113,Cloudy
1082,8/15/2016,70,67,0,4,NaN,95113,Cloudy
1083,8/16/2016,71,62,0,4,NaN,95113,Cloudy
1084,8/17/2016,71,63,0,2,NaN,95113,Little Cloudy
1085,8/18/2016,71,64,0,2,NaN,95113,Little Cloudy
1086,8/19/2016,68,67,0,1,NaN,95113,Clear
1087,8/20/2016,69,69,0,2,NaN,95113,Little Cloudy
1088,8/21/2016,69,66,0,5,NaN,95113,Very Cloudy
1089,8/22/2016,69,65,0,3,NaN,95113,Cloudy
1090,8/23/2016,71,63,0,4,NaN,95113,Cloudy
1091,8/24/2016,69,66,0,3,NaN,95113,Cloudy
1092,8/25/2016,68,67,0,4,NaN,95113,Cloudy
1093,8/26/2016,71,65,0,4,NaN,95113,Cloudy
1094,8/27/2016,70,59,0,4,NaN,95113,Cloudy
1095,8/28/2016,70,65,0,4,NaN,95113,Cloudy
1096,8/29/2016,68,64,0,6,NaN,95113,Very Cloudy
1097,8/30/2016,70,60,0,2,NaN,95113,Little Cloudy
1098,8/31/2016,69,64,0,1,NaN,95113,Clear

In [6]:
# We notice that we have a value T for some of our data entries in our precipitation column. This must be correlated to an
# integer before we can categorized the dataset. In this case T is represented by 0.001.

weather_data['PrecipitationIn '] = weather_data['PrecipitationIn '].replace('T', '0.001')

weather_data['PrecipDesc'] = ""
weather_data

,Date,MeanTemperatureF,MeanHumidity,PrecipitationIn,CloudCover,Events,zip,CloudDesc,PrecipDesc
0,8/29/2013,72,69,0,4,NaN,95113,Cloudy,
1,8/30/2013,76,65,0,2,NaN,95113,Little Cloudy,
2,8/31/2013,71,66,0,0,NaN,95113,Clear,
3,9/1/2013,72,62,0,2,NaN,95113,Little Cloudy,
4,9/2/2013,73,68,0.001,5,Rain,95113,Very Cloudy,
5,9/3/2013,70,58,0,1,NaN,95113,Clear,
6,9/4/2013,69,62,0,1,NaN,95113,Clear,
7,9/5/2013,68,60,0,1,NaN,95113,Clear,
8,9/6/2013,72,54,0,0,NaN,95113,Clear,
9,9/7/2013,78,45,0,0,NaN,95113,Clear,
10,9/8/2013,74,59,0,0,NaN,95113,Clear,
11,9/9/2013,75,60,0,1,NaN,95113,Clear,
12,9/10/2013,70,65,0,2,NaN,95113,Little Cloudy,
13,9/11/2013,68,65,0,4,NaN,95113,Cloudy,
14,9/12/2013,69,71,0,5,NaN,95113,Very Cloudy,
15,9/13/2013,67,72,0,4,NaN,95113,Cloudy,
16,9/14/2013,66,72,0,4,NaN,95113,Cloudy,
17,9/15/2013,68,68,0,3,NaN,95113,Cloudy,
18,9/16/2013,71,68,0,4,NaN,95113,Cloudy,
19,9/17/2013,66,58,0.001,1,NaN,95113,Clear,
20,9/18/2013,69,54,0,0,NaN,95113,Clear,
21,9/19/2013,71,48,0,0,NaN,95113,Clear,
22,9/20/2013,66,65,0,2,NaN,95113,Little Cloudy,
23,9/21/2013,64,79,0.66,6,Rain,95113,Very Cloudy,
24,9/22/2013,63,69,0,2,NaN,95113,Little Cloudy,
25,9/23/2013,67,63,0,0,NaN,95113,Clear,
26,9/24/2013,67,66,0,1,NaN,95113,Clear,
27,9/25/2013,63,57,0,1,NaN,95113,Clear,
28,9/26/2013,63,50,0,0,NaN,95113,Clear,
29,9/27/2013,64,50,0,0,NaN,95113,Clear,
...,...,...,...,...,...,...,...,...,...
1069,8/2/2016,69,61,0,0,NaN,95113,Clear,
1070,8/3/2016,70,65,0,0,NaN,95113,Clear,
1071,8/4/2016,66,70,0,4,NaN,95113,Cloudy,
1072,8/5/2016,68,63,0,4,NaN,95113,Cloudy,
1073,8/6/2016,67,67,0,4,NaN,95113,Cloudy,
1074,8/7/2016,67,64,0,2,NaN,95113,Little Cloudy,
1075,8/8/2016,69,60,0,1,NaN,95113,Clear,
1076,8/9/2016,71,59,0,2,NaN,95113,Little Cloudy,
1077,8/10/2016,70,60,0.001,1,NaN,95113,Clear,
1078,8/11/2016,69,63,0,1,NaN,95113,Clear,
1079,8/12/2016,70,65,0,2,NaN,95113,Little Cloudy,
1080,8/13/2016,74,58,0,2,NaN,95113,Little Cloudy,
1081,8/14/2016,73,64,0,4,NaN,95113,Cloudy,
1082,8/15/2016,70,67,0,4,NaN,95113,Cloudy,
1083,8/16/2016,71,62,0,4,NaN,95113,Cloudy,
1084,8/17/2016,71,63,0,2,NaN,95113,Little Cloudy,
1085,8/18/2016,71,64,0,2,NaN,95113,Little Cloudy,
1086,8/19/2016,68,67,0,1,NaN,95113,Clear,
1087,8/20/2016,69,69,0,2,NaN,95113,Little Cloudy,
1088,8/21/2016,69,66,0,5,NaN,95113,Very Cloudy,
1089,8/22/2016,69,65,0,3,NaN,95113,Cloudy,
1090,8/23/2016,71,63,0,4,NaN,95113,Cloudy,
1091,8/24/2016,69,66,0,3,NaN,95113,Cloudy,
1092,8/25/2016,68,67,0,4,NaN,95113,Cloudy,
1093,8/26/2016,71,65,0,4,NaN,95113,Cloudy,
1094,8/27/2016,70,59,0,4,NaN,95113,Cloudy,
1095,8/28/2016,70,65,0,4,NaN,95113,Cloudy,
1096,8/29/2016,68,64,0,6,NaN,95113,Very Cloudy,
1097,8/30/2016,70,60,0,2,NaN,95113,Little Cloudy,
1098,8/31/2016,69,64,0,1,NaN,95113,Clear,

In [13]:
# Print and analysis the proper ranges for our dataset since it is not given.
weather_data['PrecipitationIn '].describe()

count    1099.000000
mean        0.031449
std         0.159017
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         3.230000
Name: PrecipitationIn , dtype: float64

In [12]:
# Convert the column of PrecipitationIn into a float because the previous entries of T made the column into a string.
weather_data['PrecipitationIn '] = weather_data['PrecipitationIn '].astype(float)

# Categorize the the values from our analysis into 5 ranges.
weather_data.loc[(weather_data['PrecipitationIn '] >= 0) & (weather_data['PrecipitationIn '] < 0.20), 'PrecipDesc'] = 'None'
weather_data.loc[(weather_data['PrecipitationIn '] >= 0.20) & (weather_data['PrecipitationIn '] < 0.50), 'PrecipDesc'] = 'Light'
weather_data.loc[(weather_data['PrecipitationIn '] >= 0.50) & (weather_data['PrecipitationIn '] < 1), 'PrecipDesc'] = 'Medium'
weather_data.loc[(weather_data['PrecipitationIn '] >= 1) & (weather_data['PrecipitationIn '] < 1.99), 'PrecipDesc'] = 'Pouring'
weather_data.loc[(weather_data['PrecipitationIn '] >= 1.99) & (weather_data['PrecipitationIn '] <= 4), 'PrecipDesc'] = 'Heavy'

In [14]:
# View the results of our categorization

weather_data

,Date,MeanTemperatureF,MeanHumidity,PrecipitationIn,CloudCover,Events,zip,CloudDesc,PrecipDesc
0,8/29/2013,72,69,0.000,4,NaN,95113,Cloudy,None
1,8/30/2013,76,65,0.000,2,NaN,95113,Little Cloudy,None
2,8/31/2013,71,66,0.000,0,NaN,95113,Clear,None
3,9/1/2013,72,62,0.000,2,NaN,95113,Little Cloudy,None
4,9/2/2013,73,68,0.001,5,Rain,95113,Very Cloudy,None
5,9/3/2013,70,58,0.000,1,NaN,95113,Clear,None
6,9/4/2013,69,62,0.000,1,NaN,95113,Clear,None
7,9/5/2013,68,60,0.000,1,NaN,95113,Clear,None
8,9/6/2013,72,54,0.000,0,NaN,95113,Clear,None
9,9/7/2013,78,45,0.000,0,NaN,95113,Clear,None
10,9/8/2013,74,59,0.000,0,NaN,95113,Clear,None
11,9/9/2013,75,60,0.000,1,NaN,95113,Clear,None
12,9/10/2013,70,65,0.000,2,NaN,95113,Little Cloudy,None
13,9/11/2013,68,65,0.000,4,NaN,95113,Cloudy,None
14,9/12/2013,69,71,0.000,5,NaN,95113,Very Cloudy,None
15,9/13/2013,67,72,0.000,4,NaN,95113,Cloudy,None
16,9/14/2013,66,72,0.000,4,NaN,95113,Cloudy,None
17,9/15/2013,68,68,0.000,3,NaN,95113,Cloudy,None
18,9/16/2013,71,68,0.000,4,NaN,95113,Cloudy,None
19,9/17/2013,66,58,0.001,1,NaN,95113,Clear,None
20,9/18/2013,69,54,0.000,0,NaN,95113,Clear,None
21,9/19/2013,71,48,0.000,0,NaN,95113,Clear,None
22,9/20/2013,66,65,0.000,2,NaN,95113,Little Cloudy,None
23,9/21/2013,64,79,0.660,6,Rain,95113,Very Cloudy,Medium
24,9/22/2013,63,69,0.000,2,NaN,95113,Little Cloudy,None
25,9/23/2013,67,63,0.000,0,NaN,95113,Clear,None
26,9/24/2013,67,66,0.000,1,NaN,95113,Clear,None
27,9/25/2013,63,57,0.000,1,NaN,95113,Clear,None
28,9/26/2013,63,50,0.000,0,NaN,95113,Clear,None
29,9/27/2013,64,50,0.000,0,NaN,95113,Clear,None
...,...,...,...,...,...,...,...,...,...
1069,8/2/2016,69,61,0.000,0,NaN,95113,Clear,None
1070,8/3/2016,70,65,0.000,0,NaN,95113,Clear,None
1071,8/4/2016,66,70,0.000,4,NaN,95113,Cloudy,None
1072,8/5/2016,68,63,0.000,4,NaN,95113,Cloudy,None
1073,8/6/2016,67,67,0.000,4,NaN,95113,Cloudy,None
1074,8/7/2016,67,64,0.000,2,NaN,95113,Little Cloudy,None
1075,8/8/2016,69,60,0.000,1,NaN,95113,Clear,None
1076,8/9/2016,71,59,0.000,2,NaN,95113,Little Cloudy,None
1077,8/10/2016,70,60,0.001,1,NaN,95113,Clear,None
1078,8/11/2016,69,63,0.000,1,NaN,95113,Clear,None
1079,8/12/2016,70,65,0.000,2,NaN,95113,Little Cloudy,None
1080,8/13/2016,74,58,0.000,2,NaN,95113,Little Cloudy,None
1081,8/14/2016,73,64,0.000,4,NaN,95113,Cloudy,None
1082,8/15/2016,70,67,0.000,4,NaN,95113,Cloudy,None
1083,8/16/2016,71,62,0.000,4,NaN,95113,Cloudy,None
1084,8/17/2016,71,63,0.000,2,NaN,95113,Little Cloudy,None
1085,8/18/2016,71,64,0.000,2,NaN,95113,Little Cloudy,None
1086,8/19/2016,68,67,0.000,1,NaN,95113,Clear,None
1087,8/20/2016,69,69,0.000,2,NaN,95113,Little Cloudy,None
1088,8/21/2016,69,66,0.000,5,NaN,95113,Very Cloudy,None
1089,8/22/2016,69,65,0.000,3,NaN,95113,Cloudy,None
1090,8/23/2016,71,63,0.000,4,NaN,95113,Cloudy,None
1091,8/24/2016,69,66,0.000,3,NaN,95113,Cloudy,None
1092,8/25/2016,68,67,0.000,4,NaN,95113,Cloudy,None
1093,8/26/2016,71,65,0.000,4,NaN,95113,Cloudy,None
1094,8/27/2016,70,59,0.000,4,NaN,95113,Cloudy,None
1095,8/28/2016,70,65,0.000,4,NaN,95113,Cloudy,None
1096,8/29/2016,68,64,0.000,6,NaN,95113,Very Cloudy,None
1097,8/30/2016,70,60,0.000,2,NaN,95113,Little Cloudy,None
1098,8/31/2016,69,64,0.000,1,NaN,95113,Clear,None

In [15]:
# Save the new created results into a new csv file called weather_data_categorized to be used for clustering later.

weather_data.to_csv('weather_data_categorized.csv', sep=',')